:root {
    /*Colors*/
    --black: #000000;
    --black-02: #282828;
    --dark-gray: #a6a6a6;
    --dark-yellow: #db8b0a;
    --gray: #bfbfbf;
    --gray-02: #707070;
    --gray-03: #f7f7f7;
    --gray-04: #dcdcdc;
    --gray-05: #dedede;
    --gray-06: #848484;
    --yellow: #f5ab35;
    --light-gray: #d9d9d9;
    --white: #ffffff;
}