html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

a.btn-padrao {
    border-radius: 30px;
    display: inline-block;
    font-size: 0.875rem;
    letter-spacing: var(--espacamento-letras);
    line-height: 18px;
    text-align: center;
}

a.btn-padrao:first-of-type {
    margin-right: 10px;
}

.btn-carrossel {
    align-items: center;
    bottom: 10px;
    display: flex;
    gap: 10px;
    position: absolute;
}

.btn-carrossel span {
    border: 2px solid var(--white);
    border-radius: 50%;
    display: inline-block;
    font-size: 0.812rem;
    height: 10px;
    letter-spacing: var(--espacamento-letras);
    line-height: 22px;
    text-align: center;
    width: 10px;
}

.btn-carrossel a:first-child span {
    background-color: var(--white);
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* 

section .services-content {
    height: 100%;
    width: 100%;
}

section .services-content .column-width {
    width: 50%;
}

section .services-content .column-left {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/hero-bg39.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
}

section .services-content .column-right {
    background-color: rgba(242, 242, 242, 0.4);
    padding: 8%;
}

section h2 {
    font-size: 2.6em;
    font-weight: bolder;
    text-transform: uppercase;
}

section .texts-sections {
    color: var(--dark-gray);
    font-size: 1.2em;
    margin: 5% 0;
}

section .services-content .column-right .services-container {
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.services-content .services-container .services-container__card {
    padding: 5% 2%;
    width: 48%;
}

.services-content .services-container .services-container__card h3 {
    font-size: 1.6em;
}

.services-content .services-container .services-container__card h3 i {
    color: var(--yellow);
    font-size: 1.8em;
    margin-right: 2%;
}

section .texts-container {
    margin: 4% auto 0;
    padding: 0 1%;
    text-align: center;
    width: 100%;
}

section .texts-container p {
    display: inline-block;
    max-width: 650px;
    margin-top: 2%;
}

section .gallery-portfolio {
    height: 100%;
}

section .gallery-portfolio .img-item {
    overflow: hidden;
    width: calc(100% / 4);
}

section .gallery-portfolio .img-item .img {
    height: 100%;
    overflow: hidden;
}

section .gallery-portfolio .img-item .img2 {
    height: 50%;
}

section .gallery-portfolio .img-item img {
    transition: transform 2s, filter 1.5s ease-in-out;
    height: 100%;
    width: 100%;
}

section .gallery-portfolio .img-item .img:hover img {
    transform: scale(1.2);
}

section .portfolio-info {
    align-items: center;
    margin: 6% auto;
    width: 90%;
}

section .portfolio-info .portfolio-card {
    margin: 0 2%;
    padding: 2%;
    text-align: center;
    width: calc(100% / 4);
}

section .portfolio-card span {
    font-size: 2.3em;
    font-weight: bolder;
}

section .portfolio-card hr {
    border: none;
    background-color: var(--yellow);
    content: "";
    height: 4px;
    margin: 8% auto;
    width: 20%;
}

section#team {
    background-color: rgba(242, 242, 242, 0.4);
    padding-bottom: 7%;
}

section .team-imgs {
    gap: 20px;
    margin: 0 auto;
    width: 80%;
}

section .team-imgs .team-imgs__card {
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
}

.team-imgs .team-imgs__card p {
    text-transform: uppercase;
}

.team-imgs .team-imgs__card p:first-of-type {
    font-size: 0.9em;
    font-weight: bolder;
    margin-top: 8%;
    margin-bottom: 1%;
}

.team-imgs .team-imgs__card p:last-of-type {
    color: var(--dark-gray);
    font-size: 0.8em;
    margin-bottom: 8%;
}

.team-imgs .team-imgs__card hr {
    background-color: var(--light-gray);
    border: none;
    height: 1px;
    width: 100%;
}

.team-imgs__card .team-imgs__social-media {
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.team-imgs__social-media a {
    color: var(--black);
    font-size: 1.2em;
    margin: 5% 3%;
    text-align: center;
    transition: 500ms;
}

.team-imgs__social-media a:hover {
    transform: scale(1.2);
}

section .section-blog {
    padding: 0 5%;
    width: 100%;
}

section .blog-item__left,
section .blog-item__right {
    padding: 8%;
    width: 50%;
}

.blog-item__left .blog-item__card-img {
    border: 3px solid rgba(242, 242, 242, 0.4);
    padding: 7%;
    text-align: center;
    width: 100%;
}

.blog-item__card-img img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.blog-item__card-img p:last-child {
    font-weight: bolder;
    text-transform: uppercase;
}

section .section-blog .blog-item__right h2 {
    font-size: var(--font-titles);
    margin-top: 5%;
}

section .blog-item__right p:first-of-type {
    color: var(--dark-gray);
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 3% 0;
}

section .blog-item__right p:last-of-type {
    color: var(--dark-gray);
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 5%;
}

section .section-blog .blog-item__right a {
    background-color: var(--black);
    border-radius: 14px;
    color: var(--white);
    display: inline-block;
    font-size: 0.9em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 8px 24px;
}

section .section-blog .blog-item__right a:hover {
    opacity: 0.7;
}

section .content-blog {
    background-color: var(--black);
    align-items: center;
    padding: 4%;
    width: 100%;
}

section .content-blog .content-blog-left,
section .content-blog .content-blog-right {
    width: 50%;
}

section .content-blog .content-blog-left {
    color: var(--white);
    text-align: center;
}

section .content-blog .content-blog-left h3 {
    font-size: 2.3em;
    margin-bottom: 1%;
}

section .content-blog .content-blog-right a {
    border-radius: 14px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bolder;
    margin: 0 1%;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
}

section .content-blog .content-blog-right a:first-of-type {
    background-color: var(--yellow);
    color: var(--black);
}

section .content-blog .content-blog-right a:last-of-type {
    border: 2px solid var(--yellow);
    color: var(--yellow);
}

section .content-blog .content-blog-right a:hover {
    opacity: 0.7;
}

section .post-blog {
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    flex-direction: column;
    margin-bottom: 2%;
    padding-bottom: 6%;
}

.post-blog .blog-title {
    margin: 5% 0;
    padding: 0 2%;
    text-align: center;
    width: 50%;
}

.blog-title h2 {
    font-size: 2em;
    margin-bottom: 2%;
}

.blog-title p {
    color: var(--dark-gray);
    line-height: 1.8em;
}

.post-blog .post-blog__itens {
    justify-content: space-around;
    padding: 0 8%;
}

.post-blog__itens .post-blog__card {
    width: 30%;
}

.post-blog__itens .post-blog__card span {
    background-color: var(--yellow);
    color: var(--white);
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 5% 0;
    padding: 1% 3%;
}

.post-blog__itens .post-blog__card h3 {
    color: var(--black);
    font-weight: bolder;
}

.post-blog__itens .post-blog__card p:first-of-type {
    color: var(--dark-gray);
    line-height: 1.6em;
    margin: 3% 0;
}

.post-blog__itens .post-blog__card p:last-of-type {
    color: var(--dark-gray);
    font-size: 0.8em;
    line-height: 1.6em;
    margin: 3% 0;
    text-transform: uppercase;
}

.post-blog__itens .post-blog__card hr {
    background-color: var(--light-gray);
    border: none;
    content: "";
    height: 2px;
    width: 100%;
}

.post-blog__itens .post-blog__card img:hover {
    cursor: pointer;
    filter: grayscale(100%);
    transition: 1s;
}

section .container-contact {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;
    padding: 2% 0;
    width: 100%;
}

section .container-contact .container-contact__left,
section .container-contact .container-contact__right {
    width: 50%;
}

.container-contact .container-contact__left .contact-form {
    background-color: #f6f6f6;
    border-radius: 4px;
    margin: 0 auto;
    padding: 8%;
    width: 90%;
}

.contact-form h4 {
    font-size: 1.3em;
}

.contact-form .form-item {
    margin: 3% 0;
    width: 100%;
}

.contact-form .form-item input,
.contact-form .form-item textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
    outline: none;
    padding: 12px;
    width: 100%;
}

.contact-form .form-item input:focus,
.contact-form .form-item textarea:focus {
    border: 1px solid var(--black);
}

section .container-contact .btn-contact {
    border-radius: 18px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bolder;
    padding: 7px 12px;
    text-align: center;
    text-transform: uppercase;
}

.contact-form .form-item a {
    background-color: var(--yellow);
    color: var(--white);
    width: 30%;
}

.container-contact__right .contact-info {
    padding: 3%;
    width: 70%;
}

.contact-info h3 {
    font-size: 1.8em;
}

.contact-info p {
    color: var(--dark-gray);
    line-height: 1.6em;
    margin: 3% 0;
}

.contact-info a:first-of-type {
    border: 2px solid var(--yellow);
    color: var(--yellow);
    margin-top: 4%;
    margin-bottom: 10%;
    width: 40%;
}

section .container-contact .btn-contact:hover {
    opacity: 0.6;
}

.contact-info .hr-contact {
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    height: 1px;
    margin-bottom: 10%;
    width: 100%;
}

.contact-info h4 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 2%;
}

.contact-info address {
    color: var(--dark-gray);
    font-size: 1em;
    margin-bottom: 5%;
}

.contact-info a:last-of-type {
    color: var(--yellow);
    text-decoration: underline;
}

footer {
    background-color: #282828;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

footer .hr-footer {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    height: 1px;
    margin: 3% 0;
    width: 100%;
}

footer .content-footer {
    align-items: center;
    gap: 5px;
    width: 100%;
}

footer .content-footer .col {
    color: var(--dark-gray);
    text-align: center;
    width: calc(100% / 3);
}

footer .content-footer .col a {
    color: var(--dark-gray);
    margin: 0 2%;
}

@media screen and (min-width: 360px) and (max-width: 768px) {

    main {
        height: 100vh;
    }

    main header {
        justify-content: space-between !important;
        padding: 0 2%;
    }

    main nav.nav-desktop {
        display: none;
    }

    main nav.nav-mobile {
        display: block;
    }

    main .main-container {
        left: 0;
        top: 30%;
        transform: translate(0);
    }

    main .main-container h2 {
        font-size: 4.5em;
        line-height: 0.9;
    }

    main .main-container p {
        min-width: 80%;
    }

    main .main-container .main-container__btn .main-btn {
        margin: 2% 0;
        padding: 7px 20px;
        width: 50%;
    }

    section {
        height: auto;
    }

    section .content {
        flex-direction: column;
        padding: 5% 0;
        height: auto;
    }

    section .content .section-about__texts,
    section .content .section-about__imgs {
        flex-wrap: wrap;
        width: 100%;
    }

    section .content .section-about__imgs img {
        margin: 2% 0;
        width: 100%;
    }

    section .content .section-about__texts .about-btn {
        font-size: 0.8em;
        margin-bottom: 5%;
        width: 55%;
    }

    section .services-content {
        flex-direction: column;
    }

    section .services-content .column-width {
        width: 100%;
    }

    section .services-content .column-left {
        height: 70vh;
    }

    .services-content .services-container .services-container__card {
        width: 100%;
    }

    section .gallery-portfolio {
        flex-direction: column;
    }

    section .gallery-portfolio .img-item {
        margin: 0;
        width: 100%;
    }

    section .gallery-portfolio .img-item img {
        margin: -2% 0;
    }

    section .portfolio-info {
        flex-direction: column;
    }

    section .portfolio-info .portfolio-card {
        width: 100%;
    }

    section .team-imgs {
        flex-direction: column;
    }

    section .team-imgs .team-imgs__card {
        width: 100%;
    }

    section .section-blog {
        flex-direction: column;
        padding: 0;
    }

    section .section-blog .blog-item__left,
    section .section-blog .blog-item__right {
        padding: 5%;
        text-align: center;
        width: 100%;
    }

    section .content-blog {
        flex-direction: column;
    }

    section .content-blog .content-blog-left,
    section .content-blog .content-blog-right {
        margin: 3% 0;
        text-align: center;
        width: 100%;
    }

    section .content-blog .content-blog-right a {
        margin: 2% 0;
        width: 80%;
    }

    section .post-blog .blog-title {
        width: 100%;
    }

    section .post-blog .post-blog__itens {
        flex-direction: column;
    }

    section .post-blog .post-blog__itens .post-blog__card {
        margin: 2% 0;
        width: 100%;
    }

    section .container-contact {
        flex-direction: column;
    }

    section .container-contact .container-contact__left,
    section .container-contact .container-contact__right {
        width: 100%;
    }

    section .container-contact .container-contact__right {
        text-align: center;
    }

    .container-contact__right .contact-info {
        margin: 5% auto;
        text-align: center;
        width: 90%;
    }

    section .container-contact .btn-contact {
        width: 100%;
    }

    footer .content-footer {
        flex-direction: column;
    }

    footer .content-footer .col {
        margin: 2% 0;
        width: 100%;
    }

} */