html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

a.btn-padrao {
    border-radius: 30px;
    display: inline-block;
    font-size: 0.875rem;
    letter-spacing: var(--espacamento-letras);
    line-height: 18px;
    text-align: center;
}

a.btn-padrao:first-of-type {
    margin-right: 10px;
}

.btn-carrossel {
    align-items: center;
    bottom: 10px;
    display: flex;
    gap: 10px;
    position: absolute;
}

.btn-carrossel span {
    border: 2px solid var(--white);
    border-radius: 50%;
    display: inline-block;
    font-size: 0.812rem;
    height: 10px;
    letter-spacing: var(--espacamento-letras);
    line-height: 22px;
    text-align: center;
    width: 10px;
}

.btn-carrossel a:first-child span {
    background-color: var(--white);
}

.secao {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 110px 0;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.texto-secao {
    max-width: 1200px;
    padding: 0 4%;
    text-align: center;
    width: 100%;
}

.texto-secao h2 {
    color: var(--black-02);
    font-size: 2.185rem;
    font-weight: 700;
    letter-spacing: var(--espacamento-letras);
    line-height: 39px;
    margin-bottom: 25px;
}

.texto-secao p {
    color: var(--gray-02);
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    letter-spacing: var(--espacamento-letras);
    line-height: 24px;
    margin: 0 232px 80px;
}

@media screen and (max-width: 800px) {

    .secao{
        padding: 20px 0;
    }

    .texto-secao {
        padding: 50px 0;
    }

    .texto-secao p {
        margin: 0;
    }
}