.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

.main h1 {
    color: var(--yellow);
    font-size: 6.875rem;
    font-weight: 700;
    letter-spacing: var(--espacamento-letras);
    line-height: 100px;
    margin-bottom: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main p {
    color: var(--gray);
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    letter-spacing: var(--espacamento-letras);
    line-height: 28px;
    margin-bottom: 22px;
    max-width: 580px;
    padding: 0 2%;
    text-align: center;
    width: 100%;
}

.main-btns {
    max-width: 580px;
    text-align: center;
    width: 100%;
}

.btn-main {
    border: 2px solid var(--white);
    color: var(--white);
    padding: 10px 30px;
    transition: all 0.15s ease 0s;
}

.btn-main:hover {
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .main h1 {
        font-size: 3.5rem;
        line-height: normal;
    }

    .main p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 400px) {
    .btn-padrao {
        margin-top: 20px;
    }
}